# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
gradle
gradlew
gradlew.bat
.gitattributes
api/build
core/build

# Ignore external materials
sql